[submodule "deps/xtensor"]
	path = deps/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "deps/xtensor-io"]
	path = deps/xtensor-io
	url = https://github.com/xtensor-stack/xtensor-io.git
[submodule "deps/xtl"]
	path = deps/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "deps/ghc-filesystem"]
	path = deps/ghc-filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "deps/matplotlib-cpp"]
	path = deps/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "deps/gnuplot-iostream"]
	path = deps/gnuplot-iostream
	url = https://github.com/dstahlke/gnuplot-iostream.git
